
.e-btn {
    border-radius: 5px;
}

.e-card {
    background-color: #f4f4f4;
}

.e-card:active {
    background-color: #f4f4f4;
    border: none;
    padding: 0;
    border-width: 0;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.e-card:hover {
    background-color: #f4f4f4;
    border: none;
    padding: 0;
    border-width: 0;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.e-card > .e-card-content {
    background-color: #f4f4f4;
    border: none;
}