@using Nethereum.Web3.Accounts;
@using Utils
@page "/Accounts"

<div class="container">
	<h4 class="text-center">Accounts</h4>
	<PageTitle>PQ - Accounts</PageTitle>
	@if (Acc.Accounts.Count > 0)
	{
		@foreach(DFKAccount acc in Acc.Accounts.DistinctBy(a => a.Account.Address))
		{
			<PirateQuester.Components.AccountView Accounts="@Acc.Accounts.Where(a => a.Account.Address == acc.Account.Address).ToList()" />
		}
	}
</div>