@page "/Bot"
@using DFKContracts.QuestCore.ContractDefinition;
@using PirateQuester.Bot;
@using PirateQuester.Components
@using PirateQuester.Utils;
<PageTitle>PQ - Bot</PageTitle>
<BotTerminalNavigation />
<RadzenCard class="my-1">
	<EditForm Model="Bots.Settings">
		<div class="row">
			<div class="col-md-4">
				<RadzenLabel Text="Update Frequency (Seconds)" Component="UpdateInterval" />
				<RadzenNumeric Name="UpdateInterval" class="w-100 my-1" @bind-Value=@Bots.Settings.UpdateInterval />
			</div>
			<div class="col-md-4">
				<RadzenLabel Text="Min Stamina to Quest" Component="MinStamina" />
				<RadzenNumeric Name="MinStamina" class="w-100 my-1" @bind-Value="@Bots.Settings.MinStamina" />
			</div>
			<div class="col-md-4">
				<RadzenLabel Text="MaxGasFee (If your Max Fee is too low txns could get stuck during high traffic times. A high Max Fee doesn't take more fees unless the chain is clogged.)" Component="MaxGasFee" />
				<RadzenNumeric Name="MaxGasFee" class="w-100 my-1" @bind-Value="@Bots.Settings.MaxGasFeeGwei" />
			</div>
		</div>
		<div class="my-1 text-center">
			<RadzenButton Text="Run Bots" ButtonType="ButtonType.Submit" Disabled="Bots.CheckRunning()" Click="@Bots.RunBots" />
			<RadzenButton Text="Stop Bots" ButtonType="ButtonType.Submit" Disabled="Bots.RunningBots.All(bot => bot.StopBot)" Click="@Bots.StopBots" />
		</div>
	</EditForm>
</RadzenCard>
@code {
	private void DialogWindow(string message)
	{
		Dialog.Open("",
	x =>
	@<div>
		@message
	</div>,
	new DialogOptions()
	{
		ShowTitle = true,
		CloseDialogOnEsc = true,
		ShowClose = true,
		Resizable = true,
		Draggable = true,
		CloseDialogOnOverlayClick = true,
		AutoFocusFirstElement = true
	});
	}
}
