@page "/CreateAccount"
@using PirateQuester.ViewModels;
@using System.ComponentModel.DataAnnotations;
@using Utils;
@using Newtonsoft.Json
@code{
    AccountViewModel model = new();
}

@if(Acc.Accounts.Count == 0)
{
    <div class="rz-background-color-danger p-3 rounded m-3">
        <RadzenText TextStyle="TextStyle.H6">
            You need to create an account to use most features on Pirate Quester.
        </RadzenText>
    </div>
}
<RadzenCard class="mt-2">
    <EditForm OnValidSubmit="@(() => Create())" Model="@model">
        <RadzenText TextStyle="TextStyle.H5">Create Account</RadzenText>
        <div class="p-2">
            <RadzenLabel Text="Generate Account" Component="GenerateAccount" class="font-weight-bold" />
            <RadzenCheckBox @bind-Value="model.GenerateAccount" Name="GenerateAccount" TValue="bool" />
        </div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Account Name</RadzenText>
        <RadzenTextBox @bind-Value="model.Name" Class="w-100 mb-2" />
        @if (model.GenerateAccount is false)
        {
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
                Private Key
            </RadzenText>
            <RadzenPassword @bind-Value="model.PrivateKey" Name="PrivateKey" Class="w-100 mb-2" />
        }

        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
        <RadzenPassword @bind-Value="model.Password" Class="w-100 mb-2" />

        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Re-type Password</RadzenText>
        <RadzenPassword @bind-Value="model.RecheckPassword" Class="w-100 mb-2" />

        <RadzenButton ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit">
            Create
        </RadzenButton>
    </EditForm>
</RadzenCard>