@page "/login"
@using PirateQuester.ViewModels;
@using global::Utils;
@using Utils

<PageTitle>PQ - Login</PageTitle>
<RadzenCard class="my-1">
    <RadzenText TextStyle="TextStyle.H5" Style="color:red">Important!</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">Backup your accounts!</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        To read more about creating accounts safely read the documentation guide:
        <a href="https://dfk-project.gitbook.io/pirate-quester/guides/accounts/creating-an-account-exporting-an-account-from-metamask" target="_blank">
            Creating an account
        </a>
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        If you lose access to your keys, you've got noone to blame but yourself.
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        Pirate Quester keeps no data backed up online, it's all on your device.
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        It is self custodial through and through.
    </RadzenText>
</RadzenCard>
<RadzenCard class="mt-2">
    <EditForm Model="@Model" OnSubmit="@LoginAccount">

        <RadzenText TextStyle="TextStyle.H5">Login</RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Accounts</RadzenText>
        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        @bind-Value=@Model.SelectedAccounts Multiple="true" Placeholder="Select..." Data="GetLoggedOutAccountNames()" TextProperty="" ValueProperty="" Class="w-100" />

        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
        <RadzenPassword @bind-Value="Model.Password" Class="w-100 mb-2" />

        <RadzenButton Text="Submit" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Disabled="LoggingIn"></RadzenButton>
    </EditForm>
</RadzenCard>