@page "/Options"
<h3>Options</h3>

<PageTitle>PQ - Options</PageTitle>
<RadzenCard>
    <div class="col-md-6">
        <RadzenButton Click="ToggleDarkMode" Text="Dark Mode" ButtonStyle="ButtonStyle.Secondary" />
    </div>
</RadzenCard>
<RadzenCard class="mt-3">
    <div class="col-md-6">
        <RadzenText class="pb-2">
            (Remove all Accounts from memory)
        </RadzenText>
        <RadzenButton Click="ClearLocalStorage" Text="Clear Local Storage" ButtonStyle="ButtonStyle.Secondary" />
    </div>
</RadzenCard>