@page "/Options"
<h3>Options</h3>

<PageTitle>PQ - Options</PageTitle>
<RadzenCard>
    <div class="row">

        <div class="col-md-6 my-2">
            <RadzenButton Click="ToggleDarkMode" Text="Dark Mode" ButtonStyle="ButtonStyle.Secondary" />
        </div>
        <div class="col-md-6">
            <RadzenText class="pb-2">
                (Remove all Accounts from memory)
            </RadzenText>
            <RadzenButton Click="ClearLocalStorage" Text="Clear Local Storage" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </div>
</RadzenCard>
<RadzenCard class="my-3">
    <div class="row">
        <div class="col-md-6">
            <RadzenText class="pb-2">
                DFK CHAIN RPC
            </RadzenText>
            <RadzenTextBox class="w-100" @bind-Value=@AccSettings.DFKChainRPC></RadzenTextBox>
        </div>
    </div>
</RadzenCard>