@page "/TransactionWindow"
@using PirateQuester.Utils;
<PageTitle>PQ - Transactions</PageTitle>
@foreach (FinishedTransaction t in Transaction.FinishedTransactions.OrderByDescending(tran => tran.TimeStamp))
{
    if(t.Success)
    {
        <SfCard CssClass="mt-2">
            <CardContent>
                <div class="col-md-12">
                    <div style="word-break:break-word;">
                        @t.TimeStamp.ToString("yyyy-MM-dd HH:mm:ss");
                        @t.Name
                        @if (t.TransactionHash is not null)
                        {
                            <a target="_blank" href="https://avascan.info/blockchain/dfk/tx/@(t.TransactionHash)">
                                Open transaction in explorer
                            </a>
                        }
                    </div>
                </div>
            </CardContent>
        </SfCard>
    }
    else
    {
        <SfCard CssClass="mt-2">
            <CardContent>
                <div class="col-md-12">
                    <div style="word-break:break-word;">
                        @t.TimeStamp.ToString("yyyy-MM-dd HH:mm:ss");
                        @t.Name
                        @if (t.TransactionHash is not null)
                        {
                            <a target="_blank" href="https://avascan.info/blockchain/dfk/tx/@(t.TransactionHash)">
                                Open transaction in explorer
                            </a>
                        }
                    </div>
                </div>
            </CardContent>
        </SfCard>
    }
}