.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color:rgba(0,0,0,0.1);
}

.top-row {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
